*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1024px;
}
.clearfix::after {
    content: '';
    display: block;
<<<<<<< HEAD
    clear: both;}

header{
width: 100%;
}
header .logo{
    height: 50px;
}
=======
    clear: both;}
>>>>>>> 480db9974a4a1dce2ca3d76a0a8b5ccd3acf1c08
